@keyframes bg-fade {
    from {
		opacity: 0;
		transform: scale(2);
	}
    to {
		opacity: 1;
		transform: scale(1);
	}
}
@keyframes logo-fade {
    from {
		opacity: 0;
		transform: scale(1.5);
	}
    to {
		opacity: 1;
		transform: scale(1);
	}
}
@keyframes fade {
    from {
		opacity: 0;
	}
    to {
		opacity: 1;
	}
}
@keyframes link-hover {
    from {
		background-color: #fff;
		color: #000;
	}
    to {
		background-color: #000;
		color: #fff;
	}
}
@keyframes navlink-hover {
    from {
		background-color: #fff;
		color: #000;
	}
    to {
		background-color: #000;
		color: #fff;
		padding: 0 0 0 8px;
	}
}
@keyframes logosm-hover {
    from {
		background-color: #fff;
		background-image: url("../img/logo-small-blk.png");
	}
    to {
		background-color: #000;
		background-image: url("../img/logo-small-wht.png");
	}
}
@keyframes logobg-hover {
    from {
		background-color: #fff;
		background-image: url("../img/logo-big-blk.png");
	}
    to {
		background-color: #000;
		background-image: url("../img/logo-big-wht.png");
	}
}
h1, h2, h3, h4, h5, h6 {
	text-transform: uppercase;
	font-family: 'Roboto Condensed', 'Roboto', sans-serif;
	margin: 0;
}
h1, h2 {
	font-size: xx-large;
}
h3 {
	font-size: xx-large;	
	margin-bottom: 0.5em;
	border-bottom: 1px dashed black;
	text-align: right;
}
hr {
	display: block;
	width: 100%;
	border: 0;
	border-bottom: 1px dashed #000;
}
html {
	display: block;
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	background: #d0d0d0;
	background: linear-gradient(to bottom, #ffffff 80%,#d0d0d0 100%);
	background-repeat: no-repeat;
    background-attachment: fixed;
	overflow-x: hidden;
	overflow-y: auto;
}
body {
	background: #fff;
	min-width: 80vw;
}
.is-flex-1 { flex: 1; }
.logo-big {
	display: block;
	color: transparent;
	width: 721px;
	height: 359px;
	background-color: #fff;
	background-image: url("../img/logo-big-blk.png");
	background-repeat: no-repeat;
}
.logo-big:hover {
	background-color: #000;
	background-image: url("../img/logo-big-wht.png");
	animation-name: logobg-hover;
    animation-duration: 0.25s;
}
.logo-small {
	display: block;
	color: transparent;
	max-width: 248px;
	max-height: 65px;
	background-color: #fff;
	background-image: url("../img/logo-small-blk.png");
}
.logo-small:hover {
	background-color: #000;
	background-image: url("../img/logo-small-wht.png");
	animation-name: logosm-hover;
    animation-duration: 0.25s;
	background-repeat: no-repeat;
}
.logo-big > *, .logo-small > * { visibility: hidden; }
.hero {
	display: flex;
	flex-direction: column;
	align-items: center;
    justify-content: center;
	min-width: 100vw;
	min-height: 100vh;
	overflow: hidden;
	margin: 0;
	padding: 0;
	background-color: #000;
}
.hero > p {
	display: block;
	width: 100%;
	position: absolute;
	left: 0px;
	bottom: 2em;
	font-size: 8pt;
	text-align: center;
	font-weight: bold;
	color: #fff;
	filter: drop-shadow(1px 1px 0 rgba(0, 0, 0, 0.5));
	animation-name: fade;
	animation-duration: 5s;
	animation-delay: 5s;
	animation-fill-mode: forwards;
	opacity: 0;
	z-index: 1;
}
.hero > p > a {
	color: #fff;
}
.hero > video {
	animation-name: bg-fade;
	animation-duration: 25s;
	transform: scale(1);
	filter: grayscale(1) blur(8px);
}
.hero > .logo-big {
	animation-name: logo-fade;
	animation-duration: 8s;
	transform: scale(1);
	z-index: 1;
	animation-timing-function: ease;
}
.fullscreen {
	position: fixed;
	left: 0;
	top: 0;
	min-width: 100vw;
	min-height: 100vh;
}
.flexbody {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  width: 85vw;
  margin: 0 auto;
  border-left: 2px dashed #808080;
  border-right: 2px dashed #808080;
}
.flexcontainer {
  display: flex;
  flex: 1;
}
.text-center { text-align: center; }
.font-36 { font-size: 36pt; }
.padding-1em { padding: 1em; }
.brackets::before { content: " {"; }
.brackets::after { content: "};"; }
main {
  flex: 1;
  margin: 2em;
  padding: 1em;
  border: 2px solid #888;
  border-radius: 8px;
}
section {
	padding: 1em;
	margin: 1em 0;
	border: 2px dashed #888;
	display: flex;
}
section > div {
	height: 180pt;
	overflow: hidden;
	margin-right: 1em;
	text-align: center;
}
section > div > img {
	height: 100%;
}
section > p {
	margin: 0;
	flex: 1;
}
section > p > a {
	font-size: large;
	color: #000;
	background-color: #fff;
	font-weight: bold;
	display: inline-block;
	padding: 0.25em;
}
section > p > a:hover, .navlink-active {
	animation-name: link-hover;
    animation-duration: 0.25s;
	background-color: #000;
	color: #fff;
}
section > p > span {
	font-weight: bold;
	font-size: small;
	font-style: italic;
	display: inline-block;
	padding-bottom: 1em;
}
nav {
  display: flex;
  flex-direction: column;
  flex: 0 0 12em;
  order: -1;
  padding: 1em;
  padding-top: 2em;
}
nav > ul {
	padding: 0;
}
nav > ul > li {
	list-style-type: none;
	text-transform: uppercase;
	font-size: x-large;
}
nav > ul > li > a {
	display: block;
	text-decoration: none;
	font-weight: 1000;
	color: #000;
	background-color: #fff;
	font-family: 'Roboto Condensed', 'Roboto', sans-serif;
	padding: 0 0 0 4px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
}
nav > ul > li > a.unavailable:hover {
	background-color: #000;
	color: #808080;
	animation-name: unset;
	padding: 0 0 0 4px;
}
nav > ul > li > a:hover {
	animation-name: navlink-hover;
    animation-duration: 0.25s;
	background-color: #000;
	color: #fff;
	padding: 0 0 0 8px;
}
footer {
	text-align: center;
	font-size: xx-small;
	border-top: 1px dashed #000;
	padding-bottom: 2em;
	font-weight: bold;
}
footer > p > a {
	color: #000;
}
footer > p > a:visited {
	color: #444;
}
.question {
	font-weight: bold;
}
.question::before {
	content: "Q. ";
	font-weight: bold;
}
.answer::before {
	content: "A. ";
	font-weight: bold;
}
.clear {
	visibility: hidden !important;
	border: 0;
	margin: 0;
	padding: 0;
	width: 0;
	height: 0;
	clear: both;
}
#footerpic {
	background-image: url("../img/grouppicture.png");
	background-size: 100%;
	background-position: bottom center;
	background-repeat: repeat-x;
}
.framecontainer { display: flex; }
#cardcontainer {
	flex: 1;
	margin: 2em;
	border: 2px solid #888;
	padding: 0.25em;
	border-radius: 8px;
}
#menucontainer {
	margin-top: 1em;
	width: 248px;
	height: 100%;
	border: 0;
	overflow-y: scroll;
	overflow-x: hidden;
	flex-basis: inherit;
}
#cardframe, #menuframe {
	width: 100%;
	border: 0;
	border: 0;
	margin: 0;
	padding: 0;
}
@media only screen 
and (max-device-width: 1280px)
 {
	.logo-big > img, .logo-small > img { visibility: unset !important; }
	.logo-big, .logo-small {
		width: unset;
		height: unset;
		display: inline;
		background: #fff !important;
	}
	.logo-big:hover, .logo-small:hover { animation: unset !important; background-color: #fff !important; }
	html {
		transform: scale(0.5);
	}
	.flexbody {
		display: block !important;
		flex-direction: unset !important;
		align-items: unset !important;
		justify-content: unset !important;
		position: absolute;
		left: -50%;
		top: -50%;
		border: 0 !important;
		padding: 0 !important;
		margin: 0 !important;
		min-width: 200% !important;
		min-height: 200% !important;
	}
	.hero { overflow: unset !important; }
	.flexcontainer {
		width: 100% !important;
		height: 100% !important;
	}
	.fullscreen {
		left: -50vw;
		top: -50vh;
		min-width: 200vw;
		min-height: 200vh;
	}
	nav > ul > li { font-size: 25pt; }
	main { font-size: 20pt; }
	main > section > div { display: none; }
	main > section > p { width: unset; float: unset; font-size: 12pt; }
	main > section > p > a { font-size: 24pt; }
	footer { font-size: 12pt; }
 }